.donatefriends {
    height: 1482px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding-top: 69px;
}
.donate_friends {
    height: 835px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.reopen {
    font-size: 36px;
    line-height: 130%;
    color: white;
}
.about_reopen {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
}
.donate_info {
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
}
.pick_and_feed {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
    color: #FE9013;
}
.feed_freind_now {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    text-align: center;
}
.amount {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
h4 {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    margin-top: 60px;
}
.pandadiet {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    
}